* {
    background: black;
    color: #888;
    font-family: Sans Serif;
}

h1 {
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    margin: 5%;
}

h3 {
    font-weight: normal;
    text-align: center;
    margin-top: 2em;
}

form {
    text-align: center;
}

input {
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    height: 2em;
    max-width: 80%;
    width: 30em;
}

button {
    background: #333;
    border: 1px solid #555;
    margin: 0.5em;
    padding: 0.4em 1em 0.3em 1em;
    transition: background 0.2s;
    font-family: Monospace;
}

button:hover {
    background: #444;
}

#queue {
    width: 20em;
    max-width: 80%;
    margin: 1em auto;
    display: table;
}

.song {
    display: table-row;
}

.song span {
    display: table-cell;
}
